@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
$neutral: #ffffff;
$bgColor: #e8e2f3;
$spColor: #ad8026;
$titleColor: #372453;
$textColor: #333333;
$placeHolderColor: #c5c5c5;
$errorMsg: #b12727;
$submitBtn: #521d06;
$lightBorder: #aeb1b3;
$fontFamily: 'Signika Negative', sans-serif;
$layout-breakpoint-medium: 1024px;
$layout-breakpoint-small: 960px;


section{
  background-color: $bgColor;
  border: 1px solid $bgColor;
  background-position: right bottom;
  transition: all 0.5s ease-in-out;
  padding: 0.8rem 2.5rem 3rem 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.2rem;
  font-weight: 900;
  height: 100%;
  margin: 10vh 30vw;
  border-radius: 0.5rem;
  font-family: $fontFamily;

span{
  color: $spColor;
}

h1{
  color: $titleColor;
}

form{
  text-align: left;
}

label{
  font-weight: 500;
    font-size: 1.3rem;
    color: $textColor;
    display: block;
    margin-bottom: 0.3rem;
}

input{
  font-size: 1.2rem;
  color: $textColor;
  padding-left: 0.7rem;
  height: 3rem;
  margin-bottom: 1.5rem;
  width: 97.8%;
  height: 3rem;
  border: 1px solid $lightBorder;
  &::placeholder{
    color: $placeHolderColor;
  }
  &:focus{
    outline: none;
  }
}

.invalid input{
  border-color: $errorMsg;
}

p.error-msg{
    color: $errorMsg;
    margin-top: -1.45rem;
    font-weight: 400;
  }

    .password-reset{
        color: $spColor;
        font-weight: 100;
        margin-top: -1rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }

  button.submit-btn {
    background-color: $submitBtn;
    border: 1px solid $submitBtn;
    background-position: right bottom;
    transition: all 0.5s ease-in;
    padding: 1rem 2.5rem;
    margin-top: 0rem;
    // margin-right: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: $neutral;
    font-size: 1.2rem;
    font-weight: 900;
    font-family: $fontFamily;
    width: 100%;
  }

  button.submit-btn:hover {
    background-color: #8b3611;
    border: 1px solid #8b3611;
    background-position: left bottom;
    transition: all 0.5s ease-in;
    color: $neutral;
    cursor: pointer;
    translate: 0.5s;
  }

  button.submit-btn:disabled,
  button.submit-btn:disabled:hover,
  button.submit-btn:disabled:active{
    cursor: not-allowed;
    background-color: $spColor;
    border-color: $spColor;
    color: white;
  }

  .login{
    display: flex;
    justify-content: center;
    align-items: center;
      font-weight: 400;
      margin-top: -0.5rem;

      .acct-login{
        color: $spColor;
        text-decoration: underline;
      }
}


}


@media (max-width: $layout-breakpoint-medium) {
section{
  margin: 10vh 15vw;
  padding: 0.8rem 2.5rem 3rem 2.5rem;
}
}

@media (max-width: $layout-breakpoint-small) {
  section{
    margin: 10vh 5vw;
    padding: 0.8rem 1.5rem 3rem 1.5rem;
    label{
        font-size: 1.15rem;
    }
    
    input{
      font-size: 1.15rem;
    }
    }
  }
