$layout-breakpoint-medium: 1024px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-extra-small: 425px;

.landing{
    .landing-content{
        color: aliceblue;
        padding: 0 3rem;
        h1{
            font-size: 5rem;
            margin-top: 2rem;
        }
        p{
            font-size: 3rem;
            margin-top: -5rem;
            margin-bottom: 0.5rem;
        }
        button.create-profile-btn {
            background-color: #8b3611;
            border: 1px solid #8b3611;
            background-position: right bottom;
            transition: all 0.5s ease-in;
            padding: 0.35rem 1rem;
            margin-top: 0rem;
            margin-bottom: -1rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            color: white;
            font-size: 1.2rem;
          }
        
          button.create-profile-btn:hover {
            background-color: #30A190;
            border: 1px solid #30A190;
            background-position: left bottom;
            transition: all 0.5s ease-in;
            cursor: pointer;
            translate: 0.5s;
          }
    }
}

@media (max-width: $layout-breakpoint-medium) {
    .landing{
        .landing-content{
            h1{
                font-size: 4rem;
            }
            p{
                font-size: 2rem;
                margin-top: -4rem;
            }
        }
    }
    }
    
    @media (max-width: $layout-breakpoint-small) {
        .landing{
            .landing-content{
                // padding: 0 3rem;
                h1{
                    font-size: 3rem;
                }
                p{
                    font-size: 2rem;
                    margin-top: -3rem;
                }
            }
        }
      }
    
      @media (max-width: $layout-breakpoint-extra-small) {
        .landing{
            .landing-content{
                padding: 0 1rem;
                h1{
                    font-size: 1.8rem;
                }
                p{
                    font-size: 1.4rem;
                    margin-top: -1rem;
                }
            }
        }
      }
    