.app-logo {
  height: 40vmin;
  margin-bottom: -5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
$fontFamily: 'Signika Negative', sans-serif;

body {
background-image: url("/assets/hotelHeroImg.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
font-family: $fontFamily;
}